html.fsvs {
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	overflow:hidden;
}
html.fsvs #fsvs-body {
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	height:100%;
	width:100%;
}
html.fsvs #fsvs-body > .stepbystep {
	height:100%;
	width:100%;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
}
html.fsvs #fsvs-pagination {
	display:none;
}
