
.footer-nav-block{
	background: url(../img/bg-footer.png) repeat center;
	padding: 50px 0 40px;
	color: @white;
	font-family: @din;
	font-size: 14px;
	//opacity: @opacity;
	a{
		color: lighten(@black, 60%);
		&[href^="tel:"],
		&[href^="mailto:"]{
			color: @white;
		}
	}
	b{
		font-family: @din-bold;
	}
}
._b-footer-nav__flex{
	.flex-display(@display: flex);
	.justify-content(@justify: space-between) ;
	.align-items(@align: flex-start);
	.flex-wrap(@wrap: wrap) ;
}
._b-footer-nav__contacts{
	font-size: 16px;
	line-height: 30px;	
	max-width: 400px;
	width: 100%;
	@media @media-size-sm{
		max-width: 100%;
		.flex-order(@order: 6);
		padding-top: 35px;
		border-top: 1px solid #ccffcc;
		margin: 0 15px;
		.flex-display(@display: flex);
		font-size: 18px;
		> div{
			max-width: 50%;
			width: 100%;
		}
	}
	@media @media-size-xs{
		max-width: 100%;
		.flex-order(@order: 6);
		padding-top: 35px;
		border-top: 1px solid #ccffcc;
		margin: 0 15px;
		.flex-display(@display: flex);
		.flex-wrap(@wrap: wrap);
		font-size: 18px;
		> div{
			max-width: 50%;
			width: 100%;
		}
	}	
	@media @media-size-xxs{
		> div{
			max-width: 100%;
			width: 100%;
		}
	}	
	a{
		&[href^="tel:"]{
			font-family: @din-bold;
		}
	}
}
._b-footer-nav__logotip{
	margin-bottom: 50px;
}
._b-footer-nav__contacts-phone{
	line-height: 20px;
    margin: 15px 0;
}
._b-footer-nav__contacts-map{
	max-width: 215px;
	margin: 25px 0 15px;
	@media @media-size-sm{
		max-width: 295px;
		a{
			font-size: 16px;
			padding: 18px;
		}
	}
	    
}
._b-footer-nav__item{
	padding: 0 15px;
	width: 100%;
	@media @media-size-sm{
		max-width: 50% !important;
		margin-bottom: 40px;		
	}
	@media @media-size-xs{
		max-width: 100% !important;
		margin-bottom: 30px;
		.flex-display(@display: flex); 
	}
	ul{
		list-style: none;
		li{
			line-height: 18px;
			margin-bottom: 8px;
			&.__heading{
				text-transform: uppercase;
				font-family: @din-bold;
				font-size: 16px;
				margin-bottom: 17px;
				@media @media-size-sm{
					margin-bottom: 30px;
				}
			}
			a{
				@media @media-size-sm{
					font-size: 16px;
					line-height: 20px;
				}
			}
			&.active{
				a{
					color: @white;
					&:hover{
						text-decoration: none;
						cursor: default;
					}
				}
			}
		}
	}
	&.item1{
		max-width: 195px;
	}
	&.item2{
		max-width: 170px;
		@media @media-size-sm{
			.flex-order(@order: 5);
		}
	}
	&.item3{
		max-width: 185px;
		@media @media-size-sm{
			.flex-order(@order: 3);
		}
	}
	&.item4{
		max-width: 135px;
	}
	&.item5{
		max-width: 205px;
		@media @media-size-sm{
			.flex-order(@order: 4);
		}
	}
}
._b-nav__item-icon{
	width: 80px;
	height: 80px;
	margin-bottom: 25px;
	&.icon1{
		background: url(../img/footer-snippit.png) no-repeat 0px 0px; 
	}
	&.icon2{
		background: url(../img/footer-snippit.png) no-repeat -252px 0px; 
	}
	&.icon3{
		background: url(../img/footer-snippit.png) no-repeat -504px 0px; 
	}
	&.icon4{
		background: url(../img/footer-snippit.png) no-repeat -756px 0px; 
	}
	&.icon5{
		background: url(../img/footer-snippit.png) no-repeat -1008px 0px; 
	}
	@media @media-size-xs{
		margin-right: 50px; 
	}
	@media @media-size-xxs{
		margin-right: 20px;
		max-width: 80px;
    	width: 100%; 
	}

}
.footer-autor-block{
	background: lighten(@black, 16%); //#292929
	//opacity: @opacity;
	color: @white;
	padding: 20px 0;
	a{
		color: @white;
		&:hover{
			color: #ccffcc;
		}
	}
}
.navbar-default{
	//opacity: @opacity;
	background: @white;
	font-family: @din-bold;
	min-height: 135px;/*175*/
	padding: 10px 0;/*25 0*/
	@media @media-size-sm{
		min-height: 145px;
	}
	@media @media-size-xs{		
		min-height: 205px;
	}
	.navbar-brand{
		display: inline-block;
		max-width: 66px;
		margin-left: 0px!important;
		margin-top: 20px;
		@media @media-size-sm{
			float: left;
		    display: block;
		    width: 45px;
		    margin: 25px 25px 0;
		}
		@media @media-size-xs{    
			max-width: 80px;
			margin: 35px 0 0 70px!important;
		}		    
	}
	.navbar-toggle{
		.icon-bar{
			background: rgb(28, 149, 63);
			width: 36px;
			height: 4px;
		}		
	}
	.navbar-nav{
		margin-top: 30px;
		> li{
			> a{
				text-transform: uppercase;
				color: lighten(@black, 20%);
				&:hover{
					text-decoration: underline;
				}
				&:hover,
				&:focus{
					background: none;
				}
			}
		}
	}
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	position: relative;
	float: right;
	padding: 0;
	border: none;
	margin-top: 27px;
	margin-right: 27px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	width: 36px;
	height: 38px;
	@media (min-width: 992px) {
		display: none;
	}
	@media @media-size-xs{
		max-width: 70px;
		height: 70px;
		width: 100%;
		margin-right: 50px;
		margin-top: 40px;
	}
	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
	&.is-closed{
		&:before {
			content: '';
			display: block;
			width: 100px;
			font-size: 14px;
			color: #fff;
			line-height: 32px;
			text-align: center;
			opacity: 0;
			-webkit-transform: translate3d(0,0,0);
			-webkit-transition: all .35s ease-in-out;
		}
	}
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
	@media @media-size-xs{
		height: 8px;
	}
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: rgb(28, 149, 63);
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: rgb(28, 149, 63);
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

@blue-bg: #3399cc;
@blue-nav: rgb(102, 204, 255);
.calcite-header{
	position: relative;
	color: darken(@white, 20%);
	min-height: 645px;
	a{
		color: #1d8bc2;
	}
	@media @media-size-xs{
		min-height: 1745px;
	}
}
.calcite-header__inner{
	background: url(../img/calcite/bg-header.png) no-repeat right top;
    min-height: 715px;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 	100%;
	@media @media-size-sm{
		background: url(../img/calcite/bg-header-sm.png) no-repeat right top;
	}
	@media @media-size-xs{
		background: url(../img/calcite/bg-header-xs.png) no-repeat right bottom;
		min-height: 1615px;
		top: 150px;
	}
}
.calcite-navpage{
	background: fadeout(@blue-bg, 75%);    
	z-index: 20;
    position: relative;
	@media @media-size-sm{
		position: relative;
		z-index: 20;
	}
}
.calcite-collapse{
	width: 100%;
}
.calcite-hamburger{
	float: none;
	margin-top: 42px;
	position: relative;
	z-index: 30;
    margin-bottom: 20px;
    &.is-closed{
		.hamb-top, .hamb-middle, .hamb-bottom{
			background-color: @white;
		}
    }
    &.is-open{
		.hamb-top, .hamb-middle, .hamb-bottom{
			background-color: @white;
		}
    } 
}
.calcite-navbar{
	position: relative;
	z-index: 50;
	@media @media-size-sm{

	}
	> li{
		float: left;
		margin-right: 50px; 
		> a{
			.mixin-headings(
				@font-family: @proxima-bold, 
				@font-size: 15px, 
				@line-height: 30px, 
				@color: @blue-nav);
			text-transform: uppercase;
			border-bottom: 3px solid transparent;    
			padding: 16px 0 11px;
			.transition(@duration:0.2s, @ease:ease-out);
			&:hover,
			&:focus{
				background: none;
				border-color: @blue-nav;
			}
		}
		&.active{
			> a{
				color: @white;
				border-color: @white;
			}
		}
	}
}
.calcite-header__content{
	padding: 45px 0; 
	position: relative;
	z-index: 50;
	@media @media-size-sm{
		padding: 25px 0; 
	}
	@media @media-size-xs{
		padding: 115px 0 50px; 
	}
}
.quote-block{
    border-left: 10px solid @blue;
    padding-left: 18px;	
}
.calcite-header__phone{
	div{
		margin-bottom: 10px;
		@media @media-size-sm{
			margin-bottom: 20px;
		}
	}
	.mixin-headings(
		@font-family: @proxima-light, 
		@font-size: 14px, 
		@line-height: 14px, 
		@color: @white);
	    margin: 40px 0 110px;
		@media @media-size-sm{
			font-size: 16px;
			line-height: 16px;
			margin: 40px 0 95px;
		}
	.__phone{
		color: @white;
		font-family: @proxima-semibold;
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 0;
		@media @media-size-sm{
			font-size: 24px;
			line-height: 26px;
		}
		a{
			color: @white;
		}
	}
}
.calcite-header__heading{
	font-size: 48px;
	line-height: 48px;
	@media @media-size-sm{
		margin-bottom: 25px
	}
	@media @media-size-xs{
		font-size: 60px;
    	line-height: 74px;
	}
	@media @media-size-xxs{
		font-size: 40px;
		line-height: 54px; 
	}
}
.calcite-header__note{
	color: inherit;
	.mixin-headings(
		@font-family: @proxima-light, 
		@font-size: 24px, 
		@line-height: 24px, 
		@color: inherit);
	a{
		text-decoration: none;
		border-bottom: 1px solid fadeout(@blue, 50%);
		&:hover{
			border-color: transparent;
		}
		@media @media-size-sm{
			margin-top: 10px;
			display: inline-block;
		}
	}
	@media @media-size-xs{
		font-size: 40px;
		line-height: 58px; 
	}
	@media @media-size-xxs{
		font-size: 30px;
		line-height: 48px; 
	}
}
.calcite-reklama-block{
	min-height: 948px;
	background: url(../img/calcite/bg-bolus.jpg) no-repeat center top;
	position: relative;
	margin-bottom: 50px;
	@media @media-size-sm{
		min-height: 673px;
		background: url(../img/calcite/bg-bolus-sm.jpg) no-repeat center top;
		margin-bottom: 90px;
	}
	@media @media-size-xs{
		min-height: 1023px;
		background: url(../img/calcite/bg-bolus.jpg) no-repeat center top;
		margin-bottom: 90px;
		.container{
			position: relative;
			z-index: 2;
		}
	}
}
._c-reklama__inner{
	background: url(../img/calcite/bg-bolus.png) no-repeat center bottom;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	@media @media-size-sm{
		background: url(../img/calcite/bg-bolus-sm.png) no-repeat center bottom;
	}
	@media @media-size-xs{
		display: none;
	}
}
._c-reklama__content{
	max-width: 805px;
	margin: 220px auto 0;
	text-align: center;
	@media @media-size-sm{
		margin: 155px auto 0;
		max-width: 550px;
	}
	@media @media-size-xs{
		margin: 150px auto 0;
	}
}
._c-reklama__heading{
	.mixin-headings(
		@font-family: @proxima-bold, 
		@font-size: 40px, 
		@line-height: 86px, 
		@color: @white);
	span{
		font-size: 100px;
	}
	@media @media-size-sm{
		font-size: 30px;
		line-height: 66px;
		span{
			font-size: 70px;
		}
	}
	@media @media-size-xxs{
		font-size: 30px;
		line-height: 56px;
		span{
			font-size: 40px;
		}
	}
}
._c-reklama__note{
	.mixin-headings(
		@font-family: @proxima-bold, 
		@font-size: 78px, 
		@line-height: 62px, 
		@color: @white);
	.flex-display(@display: flex);
	.blue{
		font-size: 100px;
		color: @blue;    
		line-height: 74px;
		margin-bottom: 5px;
		@media @media-size-xs{
			margin-top: 160px;
		}
	}
	@media @media-size-sm{
		font-size: 56px;
		line-height: 47px;
		.blue{
			font-size: 70px;
			line-height: 42px; 
		}
	}
	@media @media-size-xs{
		display: block;
	}

}
._c-reklama__note-number{
	.mixin-headings(
		@font-family: @proxima-bold, 
		@font-size: 400px, 
		@line-height: 320px, 
		@color: @blue);
	@media @media-size-sm{
		font-size: 285px;
		line-height: 230px; 
	}
	@media @media-size-xs{
		&:after{
			content: 'г';
    		font-size: 115px;
		}
	}
	@media @media-size-xxs{
		font-size: 200px;
		line-height: 170px;
		&:after{
			content: 'г';
    		font-size: 115px;
		}
	}
}
._c-reklama__note-desc{
	padding-top: 20px;
}
@media @media-size-xs{
	._c-reklama__note-desc-xs{
		margin-top: 150px;
	}
}
@media @media-size-xxs{
	._c-reklama__note-desc-xs{
		margin-top: -20px;
		font-size: 65px;
	}
}
.calcite-review-block{
	padding-top: 20px;
}
._c-panel{
	margin-bottom: 120px;
	@media @media-size-sm{
		margin-bottom: 130px;
	}
}
._c-panel__blog{
	border: 1px solid fadeout(#898989, 54%);
	max-width: 835px;
	margin: 0 auto;	
	padding: 45px 45px;
	border-radius: 10px;
	.mixin-headings(
		@font-family: @proxima-extrabold, 
		@font-size: 32px, 
		@line-height: 42px, 
		@color: @white);
	text-align: center;
	@media @media-size-sm{
		padding: 55px 45px;
		line-height: 38px;
	}
	@media @media-size-xs{
		padding: 30px 25px;
	}
    
}
._c-panel__blog-btn{
	max-width: 200px;
    margin: 25px auto 0;
    padding: 15px;
	@media @media-size-sm{
	    max-width: 230px;
	    margin: 15px auto 0;
	    padding: 20px 15px;
	}
}
@media @media-size-lg{
	._c-contacts{
		> .row{
			> .col-lg-4{width: 30%}
			> .col-lg-8{width: 70%}
		}
	}
}
._c-contacts__address{
	text-align: right;
	color: lighten(@black, 60%);
    padding-right: 30px;
    padding-top: 5px;
    a[href^='tel:']{
    	text-decoration: none;
		color: lighten(@black, 60%);
    }
	img{
		margin-left: auto;
	}
}
._c-contacts__logotip{
	margin-bottom: 40px;
}
._c-contacts__orel{
	line-height: 18px;
	margin-bottom: 30px;
}
._c-contacts__heading{
	font-weight: 700;
}
._c-reviews__block{
	border-left: 3px solid lighten(@black, 20%);
	padding-left: 30px;
    margin-left: 5px;
    max-width: 595px;
    padding-bottom: 50px;
	@media @media-size-sm{
		border-left: none;
		padding-left: 0px;
   		max-width: 100%;
   		margin: 0 auto;
	}
	@media @media-size-xs{
		border-left: none;
		padding-left: 0px;
   		max-width: 100%;
   		margin: 0 auto;
	}

}
._c-reviews__heading{
	.mixin-headings(
		@font-family: @proxima-bold, 
		@font-size: 25px, 
		@line-height: 29px, 
		@color: @white);
    max-width: 500px;
    margin-bottom: 35px;
    &:after{
    	content: '';
    	background: @blue;
    	display: block;
    	width: 60px;
    	height: 4px;
    	margin-top: 30px;
    }
	@media @media-size-sm{
		font-size: 36px;
		line-height: 44px;
    	max-width: 100%;
    	text-align: center;
    	&:after{margin: 30px auto 0}
	}
	@media @media-size-xs{
		font-size: 36px;
		line-height: 44px;
    	max-width: 100%;
    	text-align: center;
    	&:after{margin: 30px auto 0}
	}
}
._c-reviews__form{
	@media @media-size-sm{
		max-width: 560px;
		margin: 0 auto;
	}

	.form-control{
		background:lighten(@black, 20.8%); //#353535
		border:1px solid lighten(@black, 20.8%); //#353535
		height: 50px;
		padding: 6px 22px;
		margin-bottom: 35px;
		color: @white;
		&::-webkit-input-placeholder {			
			.mixin-headings(
				@font-family: @proxima-light, 
				@font-size: 16px, 
				@line-height: 25px, 
				@color: darken(@white, 43.5%));
		} 
		&:-moz-placeholder {	
			.mixin-headings(
				@font-family: @proxima-light, 
				@font-size: 16px, 
				@line-height: 25px, 
				@color: darken(@white, 43.5%));
		}
		&:focus{
			border-color: @blue;
		}
		
	}	
	textarea.form-control{
		max-width: 100%;
		height: 120px; 
	}
}
._c-reviews__btn{    
	padding: 15px;
    max-width: 200px;
    width: 100%;
    text-transform: capitalize;
    font-size: 18px;
    &:focus{
    	outline: none;
    }
	@media @media-size-sm{
		margin: 65px auto 0;
		padding: 17px 15px;
		max-width: 240px;
		text-transform: uppercase;
	}
	@media @media-size-xs{
		margin: 65px auto 0;
		padding: 17px 15px;
		max-width: 240px;
		text-transform: uppercase;
	}
}
._c-btn__top{ 
	border: 3px solid lighten(@black, 20%);
	background: url(../img/calcite/icon-arrow-top.png) no-repeat center;
    display: inline-block;
    width: 68px;
    height: 68px;
    border-radius: 10px;
	.rotation-translate(@deg:0deg, @x:-40%, @y:0px);
	
	&:hover {
		background-color:rgba(255,255,255,0.19);
		cursor:pointer;
	}
}
.slider-fullpage{
	color: darken(@white, 20%);
	margin-bottom: 10px;
	@media @media-size-sm{
		margin-bottom: 60px;
	}
	@media @media-size-xs{
		background:  url(../img/calcite/bg-calcite-xs-left.png) no-repeat left top, @black url(../img/calcite/bg-calcite-xs-right.png) no-repeat right top ;
	}
}
.slider-item{
	position: relative;
	min-height: 700px;
	@media @media-size-xs{
		min-height: 1200px;
	}
	@media @media-size-xxs{
		min-height: 0;
		padding: 40px 0;
	}
}
.img-bolus{
	position: absolute;
	top:50%;
	left: 50%;
	.rotation-translate(@deg:0deg, @x:-50%, @y:-50%);
	z-index: 10;
	@media @media-size-xs{
		&.img-bolus-left{
			left: auto;
			right: 0;
			.rotation-translate(@deg:0deg, @x:30%, @y:-50%);
		}
		&.img-bolus-right{
			left: 0;
			.rotation-translate(@deg:0deg, @x:-30%, @y:-50%);
		}
	}
	@media @media-size-xxs{
		display: none
	}
}
.slider-item__flex{
	.flex-display(@display: flex);
	.justify-content(@justify: center) ;
	.align-items(@align: center); 
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@media @media-size-xs{
		//display: block;
		.justify-content(@justify: flex-start) ;
		.flex-wrap(@wrap: wrap);
	}
	@media @media-size-xxs{
		display: block;	
		position: relative;	
	}
}
.slider-item1{
	background: url(../img/calcite/bg-bounce1.png) no-repeat center top;
}
.heading-slide{
	.mixin-headings(
		@font-family: @proxima, 
		@font-size: 36px, 
		@line-height: 43px, 
		@color: inherit);
    width: 100%;
    max-width: 235px;
    margin-right: 0px;
	.rotation-translate(@deg:0deg, @x:-75px, @y:0);
    text-align: right;
    @media @media-size-xs{
		.rotation-translate(@deg:0deg, @x:0px, @y:50%);
		text-align: left;
		padding: 0 15px;    
		max-width: 505px;
		font-size: 40px;
		line-height: 50px;
    }
    @media @media-size-xxs{
		.rotation-translate(@deg:0deg, @x:0px, @y:0%);
    	text-align: center;
		font-size: 40px;
		line-height: 50px;
    }
}
.slider-time{
	.mixin-headings(
		@font-family: @proxima-extrabold, 
		@font-size: 70px, 
		@line-height: 45px, 
		@color: @blue);
	.rotation-translate(@deg:0deg, @x:65px, @y:0);
    width: 100%;
    max-width: 235px;
	span{
		display: block;
		.rotation-translate(@deg:0deg, @x:0px, @y:0);
		font-size: 90px;
		font-size: 180px;
		line-height: 130px;
	}
    @media @media-size-xs{
		padding: 0 15px; 
		max-width: 100%;
		.rotation-translate(@deg:0deg, @x:5px, @y:-50%);
		font-size: 175px;
		line-height: 140px;
		span{
			font-size: 440px;
			line-height: 240px;
		}
    }
    @media @media-size-xxs{
		.rotation-translate(@deg:0deg, @x:0px, @y:5%);
		font-size: 109px;
		line-height: 140px;
		text-align: center;
		span{
			.rotation-translate(@deg:0deg, @x:0px, @y:25%);
			font-size: 240px;
    		line-height: 180px;
		}
    }
}
.slider-item2{
	background: url(../img/calcite/bg-bounce2.png) no-repeat center;
}
.slider-note__item2-left{
    width: 100%;
    max-width: 375px;
    text-align: right;
	.rotation-translate(@deg:0deg, @x:-115px, @y:0px);
	@media @media-size-sm{
		max-width: 305px;
		.rotation-translate(@deg:0deg, @x:-49px, @y:0px);
	}
	@media @media-size-xs{    
		max-width: 100%;
		text-align: left;
		padding: 0 15px 0 115px;
		font-size: 49px;
		.rotation-translate(@deg:0deg, @x:0, @y:30%);
	}
	@media @media-size-xxs{ 
		margin-top: 40px;
		padding: 0 15px;
		text-align: center;
		.rotation-translate(@deg:0deg, @x:0, @y:-10%);
	}
	.mixin-headings(
		@font-family: @proxima-light, 
		@font-size: 35px, 
		@line-height: 45px, 
		@color: @white);
	.__heading{
		.mixin-headings(
			@font-family: @proxima-extrabold, 
			@font-size: 59px, 
			@line-height: 55px, 
			@color: @blue);
		@media @media-size-sm{
			font-size: 47px;
		}
		@media @media-size-xs{
			font-size: 52px;
			line-height: 65px;
		}
	}
	.__heading-big{
		.mixin-headings(
			@font-family: @proxima-extrabold, 
			@font-size: 84px, 
			@line-height: 65px, 
			@color: @blue);
		@media @media-size-xs{
			font-size: 115px;
    		line-height: 105px;
		}
	}

}
.slider-note__item2-right{
    width: 100%;
    max-width: 285px;
	.mixin-headings(
		@font-family: @proxima-light, 
		@font-size: 20px, 
		@line-height: 25px, 
		@color: @blue);
	.rotation-translate(@deg:0deg, @x:35px, @y:0px);
	@media @media-size-sm{
		max-width: 340px;
		font-size: 24px;
		line-height: 30px;
		.rotation-translate(@deg:0deg, @x:105px, @y:0px);
	}
	@media @media-size-xs{    
		max-width: 100%;
		padding: 0 15px 0 115px;
		font-size: 34px;
		line-height: 44px;
		.rotation-translate(@deg:0deg, @x:0px, @y:-70%);
	}
	@media @media-size-xxs{  
		padding: 0 15px;
		.rotation-translate(@deg:0deg, @x:0px, @y:10%);
	}
}
.slider-note__item3-left{
    width: 100%;
    max-width: 460px;
    text-align: right;
	.rotation-translate(@deg:0deg, @x:-205px, @y:0px);
	@media @media-size-sm{
		.rotation-translate(@deg:0deg, @x:-195px, @y:0px);
	}
	@media @media-size-xs{
		.rotation-translate(@deg:0deg, @x:0px, @y:30%);    
		max-width: 100%;
		padding: 0 115px 0 15px;
	}
	@media @media-size-xxs{
		padding: 0 15px;
		.rotation-translate(@deg:0deg, @x:0px, @y:0%);
	}
	.mixin-headings(
		@font-family: @proxima, 
		@font-size: 25px, 
		@line-height: 30px, 
		@color: @white);
	.__heading{
		div{
			.rotation-translate(@deg:0deg, @x:-65px, @y:0px);
			margin-bottom: 5px;
		}
		span{			
			.mixin-headings(
				@font-family: @proxima-extrabold, 
				@font-size: 83px, 
				@line-height: 28px, 
				@color: @blue);
		}
	}
	.__note{
		max-width: 195px;
		width: 100%;
		display: inline-block;
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 55px;
    	vertical-align: middle;
	}
	.__vit{
		display: inline-block;    
		vertical-align: middle;
		.mixin-headings(
				@font-family: @proxima-black, 
				@font-size: 280px, 
				@line-height: 250px, 
				@color: @blue);
		sub{
			font-size: 74px;
			line-height: 74px;
		}
	}
}
.slider-note__item3-right{
    width: 100%;
    max-width: 200px;
	.mixin-headings(
		@font-family: @proxima-light, 
		@font-size: 24px, 
		@line-height: 29px, 
		@color: @blue);
	.rotation-translate(@deg:0deg, @x:-45px, @y:80px);
	@media @media-size-sm{	
		height: 445px;	
		.__note{
			max-width: 195px;
			width: 100%;
			display: inline-block;			
			font-size: 36px;
			line-height: 45px;
			margin-bottom: 35px;
	    	vertical-align: middle;
	    	color: @white;
		}
	}
	@media @media-size-xs{	
		max-width: 100%;
	    padding: 0 115px 0 15px;
		.rotation-translate(@deg:0deg, @x:0px, @y:-20%);
	    font-size: 38px;
	    line-height: 48px;
	    text-align: right;	
		.__note{
	    	color: @white;
		}
	}
	@media @media-size-xxs{	
	    padding: 0 15px 0 15px;
		.rotation-translate(@deg:0deg, @x:0px, @y:0%);
	}
}