body{
	//min-height: 5900px;
	&.body-second{

		@media @media-size-sm{
			padding-top: 115px;
		}
		@media @media-size-xs{
			//padding-top: 155px;
			padding-top: 95px;
		}
	}
}
a{
	color: @blue;
	text-decoration: none;
	&:hover,
	&:focus{
		color: @blue;
		text-decoration: underline;
	}
	&[href^='tel:'],
	&[href^='mailto:']{
		text-decoration: none;
	}
}

.container, .container-fluid {
	padding-left:40px !important;
	padding-right:40px !important;
	
	@media @media-size-md{
		& {
			padding-left:15px;
			padding-left:15px;
		}
	}
	@media @media-size-sm{
		& {
			padding-left:15px;
			padding-left:15px;
		}
	}
	@media @media-size-xs{
		& {
			padding-left:15px;
			padding-left:15px;
		}
	}
}
.calcite-page{
	background: @black url(/img/calcite/bg-calcite.jpg) no-repeat center top;
	padding-bottom: 75px;
	@media @media-size-sm{
		padding-bottom: 95px;
		background:  url(/img/calcite/bg-calcite-sm-left.png) no-repeat left top, @black url(/img/calcite/bg-calcite-sm-right.png) no-repeat right top ;
	}
	@media @media-size-xs{
		padding-bottom: 95px;
		background: @black;
	}
	//opacity: @opacity;
}
.highDry-page{
	//opacity: @opacity;
}
.heading-block{
	.mixin-headings(
 		@font-family: @proxima-bold,
 		@font-size: 24px, 
 		@line-height: 36px, 
 		@color: @blue
 	);
 	margin-bottom: 20px;
	@media @media-size-xs{
		word-break: break-word;
	}
}
.btn-blue{
 	text-decoration: none;
 	color: @white;
 	background: fadeout(@blue, 20%);
 	font-family: @proxima-bold;
 	text-transform: uppercase;
 	display: block;
 	text-align: center;
 	padding: 5px 15px 0;
 	font-size: 16px;
 	line-height: 24px;
 	border-radius: 10px;
 	border: none;
 	&:hover,
 	&:focus{
 		text-decoration: none;
 		color: @white;
 		background: fadeout(@blue, 40%);
 	}
 }
.btn-green{
	display: block;
	.mixin-headings(
		@font-family: @din-bold,
		@font-size: 14px, 
		@line-height: 24px, 
		@color: @white
	);
	background: @green-d;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 10px;
	&:hover{
		text-decoration: none;
		color: @white;
		background: darken(@green-d, 10%);
	}
}
.btn-footer{
	@color-btn: #ccffcc;
	display: block;
	text-transform: uppercase;
	.mixin-headings(
		@font-family: @din-bold,
		@font-size: 14px, 
		@line-height: 26px, 
		@color: @color-btn
	);
	color: @color-btn!important;
	border: 2px solid @color-btn;
	text-align: center;
	padding: 10px 15px;
	&:hover{
		text-decoration: none;
		border-color: lighten(@color-btn, 5%);
		color: lighten(@color-btn, 5%);

	}
}
.btn-slider{
	display: block;
	padding: 20px 10px;
	border: 2px solid @white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	.mixin-headings(
		@font-family: @din-bold,
		@font-size: 14px, 
		@line-height: 12px, 
		@color: @white
	);
	&:hover,
	&:focus{
		text-decoration: none;
		color: #3BAB47;
		border-color: #3BAB47;
	} 
	
}
.bolus-img{
	position: absolute;
	z-index: 10;
	@media (max-width: 1199px){
		display: none;
	}
}
.bolus-left-1{
    top: -55px;
    left: 170px;
}
.bolus-left-2{
    bottom: -60px;
    left: 700px;
}
.bolus-left-3{
    bottom: 220px;
    left: -50px;
}
.bolus-left-4{
    bottom: 50px;
    left: 700px;
}
.bolus-left-5{
    top: 50px;
    left: 320px;
	@media (max-width: 1694px){
		display: none;
	}
}
.bolus-left-6{
    top: 330px;
    left: -50px;
}


.bolus-right-1{
    top: 35px;
    right: 120px;
	@media (max-width: 1344px){
		display: none;
	}
}
.bolus-right-2{
    top: 195px;
    right: 60px;
}
.bolus-right-3{
    bottom: -50px;
    right: 430px;
}
.content-block{
	background: @white;
}
.heading-block{	
	.mixin-headings(
		@font-family: @agoras-black,
		@font-size: 48px, 
		@line-height: 56px, 
		@color: lighten(@black, 20%)
	); 
	@media @media-size-sm{
		font-size: 36px;
		line-height: 44px;
	}
	@media @media-size-xxs{
		font-size: 26px;
		line-height: 34px;
	}
}
.dropdown-form{
	@media @media-screen{
		border-radius: 0;
	}
	.form-control{
		height: 44px;
		border: 1px solid @white;
		border-right: 0;
		border-radius: 0;
		background: transparent; 
		.mixin-headings(
			@font-family: @din,
			@font-size: 16px, 
			@line-height: inherit, 
			@color: @white
		);
		&::-webkit-input-placeholder {
			.mixin-headings(
				@font-family: @din,
				@font-size: 16px, 
				@line-height: inherit, 
				@color: fadeout(@white, 30%)
			);

		}
		&:-moz-placeholder {
			.mixin-headings(
				@font-family: @din,
				@font-size: 16px, 
				@line-height: inherit, 
				@color: fadeout(@white, 30%)
			);

		}
		&:focus{
			box-shadow: none;
			border-color: @black;
		}
	}
	.form-control:focus + .input-group-btn{
		.btn{
			border-color: @black;						
		}
	}
	.btn{
		color: @white;
		background: transparent;
		border: 1px solid @white;
		border-left: 0;
		border-radius: 0; 
		padding: 9px 12px;
		margin-left: 0;
		&:before{
			font-family: @icon-base;
			content: @icon-magnifying;
			display: block;
			font-size: 17px;
			color: inherit;
		}
		&:focus,
		&:active{
			outline: none;
			box-shadow: none;
		}
	}
}